body {
background-color:  #7A5BA7;
margin-right: 0%;
width: 1400px;
margin-left: calc( (100% - 1400px) / 2);

}
body>div>img {
    display: inline-block;
    float: right;
    width: 50%;
    margin-top: 50px;
    margin-left: 10px;
}
div>div {
    position: absolute;
    width: 700px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div>div>img {
    display: inline-block;
    float: left;
    width: 70%;
    padding-left: 200px;
    margin-top: 80px;

}
h1{
    font-size: 110px;
    color: white;
    }
